
@{
    ViewData["Title"] = "Dashboard";
}
<div class="row mb-4">
    <h1>Dashboard</h1>
</div>


<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <h5>Transacciones</h5>
            </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h6>Hoy</h6>
                <p>13 transacciones<br />$1,346.76</p>
            </li>
            <li class="list-group-item">
                <h6>Total</h6>
                <p>154 transacciones en total<br />$93,783.34</p>
            </li>
          </ul>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <h5>Pagos</h5>
            </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h6>Hoy</h6>
                <p>13 pagos<br />$1,346.76</p>
            </li>
            <li class="list-group-item">
                <h6>Total</h6>
                <p>154 pagos en total<br />$93,783.34</p>
            </li>
          </ul>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <h5>Usuarios</h5>
            </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h6>Activos</h6>
                <p>134</p>
            </li>
            <li class="list-group-item">
                <h6>Inactivos</h6>
                <p>25</p>
            </li>
            <li class="list-group-item">
                <h6>Productos asignados</h6>
                <p>209</p>
            </li>
          </ul>
        </div>
    </div>
</div>
