@using InternetBanking.Core.Application.Dtos.Account
@using InternetBanking.Core.Application.Helpers
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Access Denied";
    var user = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
    bool isAdmin = (user != null) ? user.Roles.Any(role => role == "Admin") : false;
    bool isClient = (user != null) ? user.Roles.Any(role => role == "Client") : false;
}

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <h2>No tiene permiso para acceder a esta sección</h2>
                        @if (isAdmin)
                        {
                            <a class="btn btn-warning" asp-controller="Admin" asp-action="Index">Ir a Home</a>
                        }

                        @if (isClient)
                        {
                            <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Ir a Home</a>
                        }

                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>