@using InternetBanking.Core.Application.ViewModels.Transaction
@model ExpressPayViewModel
@{
    ViewData["Title"] = "Pagos Expresos";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card">
          <h5 class="card-header">Pagos Expresos</h5>
          <div class="card-body">
            <form method="post" asp-action="ExpressPay" asp-controller="Home">
              @Html.ValidationSummary(false, "", new {@class = "text-danger"})
                    
                    <div class="mb-3">
                        <label asp-for="Pay.AccountToId" class="form-label">Numero de cuenta a pagar</label>
                        <input type="number" class="form-control" asp-for="Pay.AccountToId" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Pay.AccountFromId" class="form-label">Cuenta de Ahorro</label>
                        <select class="form-select" asp-for="Pay.AccountFromId" aria-label="Selecciona cuenta de ahorro">
                            <option selected>Selecciona una cuenta</option>
                            @foreach (var account in Model.Accounts)
                            {
                                <option value="@account.Id">@account.Id ($@account.Amount)</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Pay.Amount" class="form-label">Monto</label>
                        <input type="number" asp-for="Pay.Amount" step="any" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Pagar</button>
                    <a class="btn btn-secondary" asp-action="Index" asp-controller="Home">Volver</a>
                    <input type="hidden" asp-for="Pay.ClientId" />
                    <input type="hidden" asp-for="Pay.Type" />
                </form>
          </div>
        </div>
    </div>
</div>